       [Desktop Entry]
       Name=AttendanceTracker
       Exec=lxterminal $USER/AttendanceTracker/start.sh
       Type=Application
       Terminal=false