       [Desktop Entry]
       Name=AttendanceTracker
       Exec=lxterminal /home/$USER/AttendanceTracker/start.sh
       Type=Application
       Terminal=false