       [Desktop Entry]
       Name=AttendanceTracker
       Exec=lxterminal $HOME/AttendanceTracker/start.sh
       Type=Application
       Terminal=false